.jumbotron{
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
   
}

.jumbotron img {
    display:block;
    margin-left:auto;
    margin-right:auto;
    width: 275px;
    height: 225px;

}

.navbar{
    background-color: black;
    font-family: 'Oswald', sans-serif;
}
.navbar.scrolled {
    background: rgb(68, 68, 68); /* IE */
    background: rgba(0, 0, 0, 0.78); /* NON-IE */
}

.navbar-nav {
    display:flex;
    justify-content: space-between;
  }

.fa {
    color: black;
}
.btn-link {
    color:black;
}

a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
  
a:visited {
    color: grey;
    background-color: transparent;
    text-decoration: none;
  }
  
a:hover {
    color: black;
    background-color: transparent;
    text-decoration: underline;
  }
  
a:active {
    color: black;
    background-color: transparent;
    text-decoration: underline;
  }

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5); }
  
.carousel {
    border: solid black;
    margin-bottom: 50px;
   }

 
#carouselButton {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 100; }

.carousel-item > img {
        width:100%;
        height:430px;
        object-fit:fill;
    }


#colInfo h2 {
    font-family: 'Rock Salt', cursive;
    margin-left: 100px;
 }

 #colInfo p {
    font-family: 'Rock Salt', cursive;
    margin-left: 100px;
 }


#breadCrumbInfo {
    font-family: 'Oswald', sans-serif;
}
#menuContainer{
    font-family: 'Oswald', sans-serif;
}

.site-footer{
    font-family: 'Oswald', sans-serif;

}